.tax-benefit-main-panel .tax-benefit-main-panel-inner .tax-benefit-menu-panel .tax-benefit-menu-panel-inner .tax-benefit-menu-bar .tax-benefit-menu-box{
  margin: 0 10%;
}
.tax-benefit-main-panel .tax-benefit-main-panel-inner .tax-benefit-menu-panel .tax-benefit-menu-panel-inner .tax-benefit-menu-bar .tax-benefit-menu-box.ltf{
  margin: 0 10%;
}
.tax-benefit-main-panel .tax-benefit-main-panel-inner .tax-benefit-menu-panel .tax-benefit-menu-panel-inner .tax-benefit-menu-bar .tax-benefit-menu-box.rmf{
  margin: 0 10%;
}
.color2f71c0{
  color:#2f71c0;
}